<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="callbackDuration" value="100"/>
        <add key="hookedKeyCode" value="0"/>
        <add key="hookedCoordinateX" value="0"/>
        <add key="hookedCoordinateY" value="0"/>
        <add key="hookedColorRgbCode" value="129, 152, 48"/>
    </appSettings>
</configuration>